
.profileIMG{
    width: auto;
    max-width: 400px;
}

.container {
    margin: 20px;
}

.homeIMG {
    max-width: 100%;
    margin: auto;
    /* width: auto; */
    height: auto;
    display: block;
}

.page-title {
    color: black;
    font-weight: bold;
}

.social-icons {
    align-content: center;
    padding-left: 0em;
    margin: 0em;
}

.social-links {
    display: inline-flex;
    padding: 10px;
}

.icon {
    font-size: 2.5rem !important;
}