a:link {
    text-decoration: none;
}

.container {
    margin: 20px;
}

.nameLink {
    color: teal;
    font-weight: bold;
}

#briefcase {
    color: saddlebrown
}

#file {
    color: turquoise
}

#laptop {
    color: hotpink
}

#ninja {
    color: rebeccapurple
}

