a:link {
    text-decoration: none;
}
a {
    text-decoration: none;
}

.container {
    margin: 20px;
}

.headerTitle {
    text-shadow: white 1px 1px;
    /* color: white; */
}

.menuButton {
   background-color:  teal;
}

.headerDIV {
    background-color: rgb(30, 39, 39);
    border-bottom: 5px solid teal;
}

.nameLink {
    color: teal;
    font-weight: bold;
    text-shadow: white 1px 1px;
}

.nav-item {
    color: white;
}

#briefcase {
    color: saddlebrown
}

#file {
    color: turquoise
}

#laptop {
    color: hotpink
}

#ninja {
    color: rebeccapurple
}

#close {
    color: red;
}

#menuIcon {
    width: 2.5rem;
}

#email {
    color: orange;
}

#linkedIn {
    color: rgb(6, 120, 158);
}
