a:link {
    text-decoration: none;
}

.container {
    margin: 20px;
}

.nameLink {
    color: teal;
    font-weight: bold;
}

.nav-item {
    color: black;
}

#briefcase {
    color: saddlebrown
}

#file {
    color: turquoise
}

#laptop {
    color: hotpink
}

#ninja {
    color: rebeccapurple
}

#close {
    color: red;
}

#menuIcon {
    width: 2.5rem;
}

#email {
    color: orange;
}

#linkedIn {
    color: blue;
}
