* {
    font-family: serif;
    font-size: 1.08rem;
    /* font-size: calc(1em + .03vw + .03vh); */
    /* Font size source https://bootstrapcreative.com/can-adjust-text-size-bootstrap-responsive-design/#:~:text=What%20Are%20the%20Bootstrap%204,will%20be%20increased%2Fdecreased%20automatically. */
}


body {
    background-image: url("./assets/teal.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* width: 100%;
    height: auto; */
    /* background-repeat: repeat; */
}




.img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#img-text {
    width: 100px;
}



